<div class="meeting animated fadeIn" *ngIf="!loading"   [routerLink]="['/meetings', meeting.id]">
    <img imageEnvironment url="users/img/{{user.id}}">
    <p class="mb-0"><b>{{user.name}} {{user.lastname}} </b> <span class="float-right"><small>{{meeting.start | amDateFormat:'L'}}</small></span></p>
    <p class="mb-0 font-weight-light">{{ meeting.message}} <span class="float-right"><small>{{meeting.end | amDateFormat:'L'}}</small></span> </p>
</div>
