<div *ngIf="loaded">


    <div class="options text-center">
        <img class="imageBuddy" imageEnvironment url="buddies/img/{{id}}">
        <h3 class="mt-4">{{buddy.publicName}}</h3>
    </div>

    <p class="mt-2 mb-0 text-gray"><b>Descripción</b></p>
    <p>{{buddy.description}}</p>

    <p class="mt-2 mb-0 text-gray"><b>Lugar</b></p>
    <agm-map [latitude]="51.678418" [longitude]="51.678418">
        <agm-marker [latitude]="51.678418" [longitude]="51.678418"></agm-marker>
    </agm-map>

    <p class="mt-4 mb-0 text-gray"><b>Aficiones</b></p>
    <mat-chip-list #aficionesList *ngIf="buddy.hobbies">
        <mat-chip *ngFor="let aficion of buddy.hobbies.split(',');" [selectable]="false" [removable]="false">
        {{aficion}}
        </mat-chip>
    </mat-chip-list>

    <p class="mt-2 mb-0 text-gray"><b>Fotos</b></p>
    <div class="mt-4 mb-4 text-center">
        <button mat-raised-button class="w-100"  color="secondary" [routerLink]="['/chats', id]" >Contactar</button>
    </div>
    <div class="mt-4 mb-4 text-center">
        <button mat-raised-button class="w-100"  color="primary" [routerLink]="['/meetings/new/', id]" >Quedar</button>
    </div>

    <p class="mt-2 mb-0 text-gray"><b>Comentarios</b></p>
    <div class="comments"  *ngIf="comments && comments.length>0">
        <div class="comment" style="    background: #f8f8f8;margin-bottom: 15px;padding: 8px;" *ngFor="let comment of comments;">
            <p class="m-0" style="color: #959595;font-weight: bold;">{{comment.user.name}}</p>
            <p class="m-0">{{comment.comment}}</p>
            <p style="color: #6e6e6e;font-size: small; margin: 0;" class="text-right">{{comment.date | amDateFormat:'L'}}</p>

        </div>
    </div>
    <p *ngIf="comments && comments.length<1">No hay comentarios todavía</p>


    <p class="mt-2 mb-0 text-gray"><b>Crear comentario</b></p>
    <mat-form-field class="w-100 mt-2">
        <input type="text" matInput placeholder="Comentario" [(ngModel)]="newComment">
    </mat-form-field>

    <div class="text-right">
        <button mat-raised-button class=""  color="primary" (click)="guardarComentario()" >Enviar</button>
    </div>

    <div class="m4" style="display: inline-block;"></div>

</div>