
.topbar{
    display: block;
    background: #0078a5;
    padding: 0 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    line-height: 40px;
    z-index: 9999;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
    color: white;
  }




  
.topbar.arriba{
    top: -50px !important;
}

.topbar i{
    vertical-align: middle;
}