<div class="clearfix topbar" [ngClass]="{'arriba': this.urlsHidden[router.url]}">
  <div class="float-left p-0"><b>TravelBuddy</b></div>
  <div class="float-right"><i class="material-icons"  [routerLink]="['/profile']">settings</i></div>
  <!--div class="float-right"><i class="material-icons">face</i></div-->
</div>
