.bg-login{
    margin:  0 -15px;
    display: block;
    padding-bottom: 20px !important;   
    margin-top: -50px !important;   
    padding-top: 50px !important;
}


:host .preview img{
    max-width: 100%;
    max-height: 88px;
    margin: 10px 0;
    box-shadow: 0 0 5px #0000006b;
}
