<div class="p-3 bg-login text-white  text-center">
  <h5>Ser BUDDY</h5>
  <p>Haciéndote buddy podrás conocer a gente, ayudar y ganar dinero. Hazte buddy para que te puedan encontrar y contactar contigo.</p>
</div>

<div class=" pt-4 pl-4 pr-4">
  <form [formGroup]="beBuddyForm" class="">
    <p class="text-gray">Datos com buddy</p>


    <mat-form-field class="w-100 mb-2">
        <input type="text" matInput placeholder="Elige un nombre público" formControlName="name">
          <mat-error *ngIf="beBuddyForm.controls.name.hasError('required')">
            Es <strong>obligatorio</strong>
          </mat-error>
      </mat-form-field>


      <mat-form-field class="w-100 mb-2">
        <textarea matInput placeholder="Haz un resumen de ti" formControlName="description"></textarea>
      </mat-form-field>
   
      
      <mat-form-field class="w-100 mb-2">
          <mat-chip-list #aficionesList>
            <mat-chip *ngFor="let aficion of aficiones" [selectable]="true" [removable]="true" (remove)="remove(aficion)">
              {{aficion}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Añade tus aficiones..."
                   [matChipInputFor]="aficionesList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="add($event)" />
          </mat-chip-list>
        </mat-form-field>



      <p class="mt-2 mb-4 text-gray"><b>Ubicación</b></p>
      <agm-map [latitude]="38.38644876261229" [longitude]="-0.5099144127115096" [zoom]="15" (mapClick)="mapClicked($event)">
          <agm-marker *ngIf="marker" [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
      </agm-map>





        <input  style="display: none"   type="file" (change)="onFileChanged($event)"   #fileInput>




        <div id="preview" class=" w-100 preview text-center">
            <img src="">
          </div>

        <button class="w-100 text-center" mat-raised-button (click)="fileInput.click()">Añade una foto</button>      
        
      
        <div class="mt-4 mb-4 text-center">
            <button mat-raised-button	[disabled]="beBuddyForm.status=='INVALID' || loading" class="w-100" (click)="beBuddy()" color="primary">Completar Registro</button>
          </div>

  </form>


</div>