:host{
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background: #0078a5;
    color: #ffffffb0;
}
:host i{
    display: block;
}
:host button{
    font-size: small;
    line-height: 22px;
    height: 50px;
    width: 100%;
    padding: 0;
    min-width: auto !important;
}