<div class="row text-center m-0">
  <div class="col-3 p-0" [ngClass]="{'text-white': this.router.url.startsWith('/home')}">
    <button mat-button class="pt-1 pb-1" [routerLink]="['/home']">
      <i class="material-icons">home</i>
      Inicio
    </button>
  </div>
  <div class="col-3 p-0" [ngClass]="{'text-white': this.router.url.startsWith('/search')}">
    <button mat-button class="pt-1 pb-1"  [routerLink]="['/search']">
      <i class="material-icons">explore</i>
      Buscar
    </button>
  </div>
  <div class="col-3 p-0" [ngClass]="{'text-white': this.router.url.startsWith('/chats')}">
    <button mat-button class="pt-1 pb-1"  [routerLink]="['/chats']">
      <i class="material-icons">inbox</i>
      Mensajes
    </button>
  </div>
  <div class="col-3 p-0" [ngClass]="{'text-white': this.router.url.startsWith('/meeting')}">
    <button mat-button class="pt-1 pb-1"  [routerLink]="['/meetings']">
      <i class="material-icons">group</i>
      Quedadas
    </button>
  </div>

</div>