h5{
    padding-left: 50px;
    position: relative;
    overflow: hidden;
    line-height: 40px;
    margin: 0;
}

h5 img{
    position: absolute;
    width: 40px;
    left: 0;
    top: 0px;
    border-radius: 50%;
    height: 40px;
    border: solid 2px #006890;
    object-fit: cover;
}

.list{
    overflow: hidden;
    padding-bottom: 60px;
}
.message{
    background: #fafafa;
    border-radius: 5px;
    padding: 1px 8px;
    color: #0078a5;
    width: fit-content;
    max-width: 90%;
    min-width: 70%;
    box-shadow: 0 0 4px #80808038;
    overflow: hidden;
}

.message.right{
    float: right;
}
.message p{
    width: auto;
}

.toBottom{
    position: fixed;
    bottom: 50px;
    padding: 0px 10px;
    background: #006890;
    left: 0;
    right: 0;
    color: white;
    vertical-align: middle;
    height: 53px;
    padding-right: 60px;
    line-height: 53px;
}

.toBottom input{
    line-height: 22px;
    width: 100%;
    border: none;
    padding: 4px;
    background: #ffffff12;
    color: white;
}

.toBottom input::placeholder{
    color: #ffffff80;
}



.toBottom i{
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px 15px;
}