<div *ngIf="loaded">
  <div class="options">
    <h5> <img imageEnvironment url="users/img/{{user.id}}"> <b>{{user.name}}  {{user.lastname}}</b></h5>
  </div>
  <div class="list pt-3" #scrollMe>
    <div *ngFor='let message of messages; trackBy: index;'  class="message mb-2" [ngClass]="{'right': message.from.id == session.user.id}">
        <p class="mb-0">{{message.text}}</p>
        <p class="mb-0 text-right"><small>{{message.date | amDateFormat:'L'}}</small></p>
    </div>
  </div>

  <div class="toBottom">
    <input type="text" [(ngModel)]="message" placeholder="Message" >
    <i class="material-icons"  (click)="send()" >send</i>
  </div>
</div>
