<div class="pt-5 pb-5 bg-login text-white  text-center">
  <h2>
    TravelBuddy
  </h2>
  <p>Encuentra el guía que tu viaje necesita</p>
</div>

<div class=" pt-4 pl-4 pr-4">
  <h5 class="mb-4">Login</h5>

  <form class="m-t-2 login text-center">

    <mat-form-field class="w-100 mb-2">
      <input type="email" matInput placeholder="Email" [formControl]="email" >
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>



    <mat-form-field class="w-100 mb-2">
      <input type="password" matInput placeholder="Password" [formControl]="password">
      <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>

    </mat-form-field>



    <button [disabled]="email.errors || password.errors" mat-raised-button class="mt-2" (click)="login()" color="primary">Iniciar sesión</button>

  </form>
  <p class="text-center mt-5 mb-0"><small>¿No tienes cuenta?</small></p>
  <p class="mb-4 text-center"><a  routerLink="/register"> ¡Regístrate!</a></p>
</div>