<div class="options text-center mb-4">
  <img class="imageBuddy" imageEnvironment url="buddies/img/{{idBuddy}}">
  <h3 class="mt-4" *ngIf="meeting.buddy" >{{meeting.buddy.publicName}}</h3>
</div>

<form [formGroup]="newMeetingForm" class="m-t-4 login">

  <mat-form-field class="w-100 mb-2">
    <input type="date" matInput placeholder="Fecha Inicio" formControlName="start">
      <mat-error *ngIf="newMeetingForm.controls.start.hasError('required')">
        La fecha de inicio es un campo <strong>obligatorio</strong>
      </mat-error>
  </mat-form-field>


  <mat-form-field class="w-100 mb-2">
    <input type="date" matInput placeholder="Fecha Fin" formControlName="end">
      <mat-error *ngIf="newMeetingForm.controls.end.hasError('required')">
        La fecha de fin es un campo <strong>obligatorio</strong>
      </mat-error>
  </mat-form-field>


  <mat-form-field class="w-100 mb-2">
      <textarea matInput placeholder="Escribe un mensaje..." formControlName="message"></textarea>
    </mat-form-field>

    

    <p class="mt-2 mb-4 text-gray"><b>Lugar de quedada</b></p>
    <agm-map [latitude]="38.38644876261229" [longitude]="-0.5099144127115096" [zoom]="15" (mapClick)="mapClicked($event)">
        <agm-marker *ngIf="marker" [latitude]="marker.lat" [longitude]="marker.lng"></agm-marker>
    </agm-map>


</form>



<div class="mt-4 mb-4 text-center">
  <button mat-raised-button class="w-100"  [disabled]="newMeetingForm.status=='INVALID'"  (click)="create()"  color="primary">Confirmar</button>
</div>
