<div class="options">
  <!--input class="" type="text" placeholder="Search" [(ngModel)]="Chat" /-->

  <h5><b>Chats</b></h5>
</div>
<div class="list pt-3">
  <div *ngFor='let chat of chats; '  >
     <app-chats-row  [message]="chat"  ></app-chats-row>
  </div>
</div>
  