<div class="animated fadeIn"  [routerLink]="['/chats', user.id]" >
  <img imageEnvironment url="users/img/{{user.id}}">
  <p class="mb-0"><b>{{user.name}} {{user.lastname}} </b> <span class="float-right"><small>{{message.date | amDateFormat:'L'}}</small></span></p>
  <p class="mb-0 font-weight-light">{{ message.text}} <span class="float-right"><small>{{message.date | amDateFormat:'hh:mmA'}}</small></span> </p>
</div>