:host{
    position: relative;
    padding-left: 70px;
    display: block;
    border-bottom: solid 1px gainsboro;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

:host img{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px gray;
}