<h4 class="mt-2 mb-4">Hola <b>{{session.user.name}}</b>! </h4>

<p class="mb-0 text-gray"><b>Estos son tus datos</b></p>
<p>
  <small class="text-gray">Nombre</small> <br/>
  {{session.user.name}} 
</p>
<p>
  <small class="text-gray">Apellidos</small> <br/>
  {{session.user.lastname}} 
</p>
<p>
  <small class="text-gray">Fecha nacimiento</small> <br/>
  {{session.user.birth}} 
</p>
<p>
  <small class="text-gray">Correo electrónico</small> <br/>
   {{session.user.email}} 
</p>
<mat-divider></mat-divider>


<button  mat-raised-button color="primary" [routerLink]="['/profile/BeBuddy']" class="w-100 mt-4" >Hacerse Buddy</button>

<button  mat-raised-button class="w-100 mt-4" (click)="logOut()" >Cerrar sesión</button>
