/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./animate.css";

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.bg-login{
    background: url(assets/bg-login.jpg);
}

.text-gray {
  color: gray;
}

.options{
  margin: 0 -15px;
  background: #0078a5;
  padding: 5px 20px 20px 20px;
  color: white;
}

agm-map{
  height: 300px;
}


.options input{
  width: 100%;
    border: none;
    padding: 5px 10px;
    color: #0078a5;
    font-weight: bold;
}



