<div class="options">
  <input class="" type="text" placeholder="Search" [(ngModel)]="name" />
</div>

<div style="margin: 0px -15px;" >
  

  <agm-map [latitude]="51.678418" [longitude]="21.678418" [zoom]="3">
      <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
          <agm-marker [label]="buddy.publicName" (markerClick)="clickedMarker(buddy)" [latitude]="parse(buddy.location).lat" [longitude]="parse(buddy.location).lng" *ngFor='let buddy of buddies; '></agm-marker>
      </agm-marker-cluster>
  </agm-map>

</div>

<div class="list pt-3 mb-4">
  <div *ngFor='let buddy of buddies; '  >
    <div class="searchBuddy animated fadeIn" *ngIf=" !name || buddy.publicName.indexOf(name)>=0">
      <div class="row" >
        <div class="col-4">
          <img imageEnvironment url="buddies/img/{{buddy.user.id}}">
        </div>
        <div class="col-8">
          <p class="mb-0"><b>{{buddy.publicName}}</b></p>
          <p>{{buddy.description}}</p>
          <p class="text-right pr-4" ><small> <a  [routerLink]="['/buddies', buddy.user.id]" >Ver</a></small></p>
        </div>
      </div>
    </div>
  </div>
</div>

