.searchBuddy img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.searchBuddy{
    background: #fafafa;
    padding: 0px;
    margin-bottom: 10px;
    border: solid 1px #e4e4e4;
}