<div class="meetings">
  <h5 class="mt-4 mb-4">Próximas quedadas</h5>
  <div class="meeting" *ngFor='let meeting of meetings;'  >
    <app-meeting-row [meeting]="meeting"></app-meeting-row>
  </div>
  <p class="text-right"><small [routerLink]="['/meetings']">Ver más</small></p>
</div>

<div class="meetings mt-4">
    <h5 class="mt-4 mb-4">Últimos mensajes</h5>
    <div *ngFor='let chat of chats;'  >
        <app-chats-row  [message]="chat"  ></app-chats-row>
     </div>
     <p class="text-right"><small [routerLink]="['/chats']">Ver más</small></p>

  </div>