h5{
    padding-left: 50px;
    position: relative;
    overflow: hidden;
    line-height: 40px;
    margin: 0;
}

h5 img{
    position: absolute;
    width: 40px;
    left: 0;
    top: 0px;
    border-radius: 50%;
    height: 40px;
    border: solid 2px #006890;
    object-fit: cover;
}


:host .preview img{
    max-width: 100%;
    max-height: 88px;
    margin: 10px 0;
    box-shadow: 0 0 5px #0000006b;
}

.fotosQuedada{
    margin: 0 -15px;
    height: 300px;
    overflow: auto;
    white-space: nowrap;
}

.fotosQuedada .foto{  
      width: 90%;
    height: 100%;
    display: inline-block;
    object-fit: contain;
    margin-right: 5px;
}