<div *ngIf="loaded" class="animated fadeIn">
  <div class="options mb-4">
    <h5> <img imageEnvironment url="users/img/{{user.id}}"> <b>{{user.name}}  {{user.lastname}}</b></h5>
  </div>
  
  <p class="mb-0"><b>Puntuar quedada</b></p>
  <div class="text-center">
    <rating [(ngModel)]="rate" [max]="5" [float]="true"> </rating>
  </div>


  <div class="">
    <p class="mb-0"><b>Inicio quedada</b></p>
    <p *ngIf="!editing">{{meeting.start | amDateFormat:'L'}}</p>
    <mat-form-field class="w-100 mb-2"  *ngIf="editing">
        <input type="date" matInput [(ngModel)]="meeting.start">
    </mat-form-field>
  </div>

  <div class="">
    <p class="mb-0"><b>Fin quedada</b></p>
    <p *ngIf="!editing">{{meeting.end | amDateFormat:'L'}}</p>
    <mat-form-field class="w-100 mb-2"  *ngIf="editing">
        <input type="date" matInput [(ngModel)]="meeting.end">
    </mat-form-field>
  </div>

  <div class="">
    <p class="mb-0"><b>Lugar quedada</b></p>
    <agm-map [latitude]="parse(meeting.location).lat" [longitude]="parse(meeting.location).lng">
        <agm-marker [latitude]="parse(meeting.location).lat" [longitude]="parse(meeting.location).lng"></agm-marker>
    </agm-map>


  </div>


  <div class="mt-4 mb-0 p-4  text-center">

    <div class="row">
        <button mat-raised-button class="w-100 col-6"  color="secondary" *ngIf="!editing" (click)="editing = true" >Editar</button>
        <button mat-raised-button class="w-100 col-6"  color="secondary" *ngIf="editing" (click)="update()" >Guardar</button>
        <button mat-raised-button class="w-100 col-6"  color="danger" (click)="delete()" >Eliminar</button>
        <button mat-raised-button class="w-100"  color="primary" [routerLink]="['/chats', user.id]" >Enviar mensaje {{user.name}}</button>
        
    </div>
    

  </div>

  <p class="mt-2 mb-0 text-gray"><b>Fotos</b></p>
  <div class="fotosQuedada mb-4" *ngIf="meetingImages.length>0">
        <img class="foto" *ngFor='let foto of meetingImages; trackBy: index;' imageEnvironment url="meetings/image/{{foto.id}}">
  </div>
  <p class="mb-4" *ngIf="meetingImages.length<1">No hay fotos de la quedada</p>
  
  <div class="addFoto mt-0  mb-4 text-center">
    <button class=" text-center" *ngIf="!selectedFile" mat-raised-button (click)="fileInput.click()">Añade una foto</button>      
    <input  style="display: none"   type="file" (change)="onFileChanged($event)"   #fileInput>
    <div id="preview" class=" w-100 preview text-center">
        <img src=""  [hidden]="!selectedFile" >
    </div>
    {{newComment}}
    <button class=" text-center mb-4" *ngIf="selectedFile" mat-raised-button (click)="guardarFoto()">Guardar</button>      
    
  </div>




</div>