<div class="pt-5 pb-5 bg-login text-white  text-center">
    <h2>
      TravelBuddy
    </h2>
    <p>Encuentra el guía que tu viaje necesita</p>
  </div>
  
  <div class=" pt-4 pl-4 pr-4">
    <h5 class="mb-4">Registro</h5>
  
    <form [formGroup]="registerForm" class="m-t-2 login">
  
      <p>Datos personales</p>
      <mat-form-field class="w-100 mb-2">
        <input type="text" matInput placeholder="Nombre" formControlName="name">
          <mat-error *ngIf="registerForm.controls.name.hasError('required')">
            Nombre es un campo <strong>obligatorio</strong>
          </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 mb-2">
        <input type="text" matInput placeholder="Apellidos" formControlName="lastname">
        <mat-error *ngIf="registerForm.controls.lastname.hasError('required')">
            Apellidos es un campo <strong>obligatorio</strong>
          </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100">
          <input type="date" matInput placeholder="Fecha nacimiento" formControlName="birth">
          <mat-error *ngIf="registerForm.controls.birth.hasError('required')">
              Fecha nacimiento es un campo <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>

      <p class="mt-5">Datos de inicio</p>
      <mat-form-field class="w-100 mb-2">
        <input type="email" matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="registerForm.controls.email.hasError('email') && !registerForm.controls.email.hasError('required')">
            Correo inválido
          </mat-error>
        <mat-error *ngIf="registerForm.controls.email.hasError('required')">
            Email nacimiento es un campo <strong>obligatorio</strong>
          </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mb-2">
        <input type="password" matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="registerForm.controls.password.hasError('required')">
            contraseña es un campo <strong>obligatorio</strong>
          </mat-error>
      </mat-form-field>
  
      <mat-form-field class="w-100 mb-2">
        <input type="password" matInput placeholder="Repeat Password" formControlName="passwordRepeated">
        <mat-error *ngIf="registerForm.controls.passwordRepeated.hasError('required')">
            Repetir contraseña es un campo <strong>obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="registerForm.controls.passwordRepeated.hasError('MatchFields') && !registerForm.controls.passwordRepeated.hasError('required')">
             Las contraseñas <strong>no coinciden</strong>
            </mat-error>
          
      </mat-form-field>


      <div class="mt-2 text-center">
        <button mat-raised-button	[disabled]="registerForm.status=='INVALID'" class="w-100" (click)="register()" color="primary">Completar Registro</button>
      </div>
    </form>
    <p class="text-center mt-5 mb-0"><small>¿Ya tienes cuenta?</small></p>
    <p class="mb-4 text-center"><a  routerLink="/login" >¡Iniciar sesión!</a></p>
  </div>